.service-card-wrapper {
  display: flex;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  padding: min(18px, 2.7vw);
  padding-left: 50px;
  padding-right: 50px;
  border-radius: 33px;
  width: fit-content;
  max-height: 300px;
  gap: min(50px, 3vw);

  & .service-image-container {
    display: flex;
    height: auto;
    width: 100%;

    & img {
      display: flex;
      width: 100%;
      object-fit: cover;
    }
  }

  & .service-wrapper-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 10px;

    & h4 {
      font-family: Inter;
      font-weight: 700;
      font-size: clamp(1.5rem, min(22px, 2rem), 1.5vw);
      text-align: left;
    }

    & .service-content {
      width: clamp(300px, 650px, 55vw);
      display: flex;
      align-items: center;
      justify-content: center;

      & p {
        font-family: Inter;
        font-weight: 400;
        font-size: clamp(14px, 1.2vw, 15px);
        line-height: 19px;
        text-align: left;
      }
    }
  }
}

.service-card-wrapper-mobile {
  border-radius: 0px;
  flex-direction: column;
  width: 100%;
  max-height: 100%;
  padding: 10px 10px 35px 10px!important;
}

.service-wrapper-content-mobile {

  & h4 {
    text-align: center!important;
    padding: 10px 0px;
  }
}

.service-content-mobile {
  width: 100%!important;

  & p {
    text-align: center!important;
  }
}