.service-card-container {
  max-width: 65%;
  min-height: 250px;
  background-color: white;
  border-radius: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 30px;
  gap: 15px;
}

.service-card-container-small-desk {
  max-width: 80%;
  min-height: 245px;
  background-color: white;
  border-radius: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 30px;
  gap: 15px;
}

.service-card-container-tablet {
  max-width: 90%;
  min-height: 250px;
  max-height: 320px;
  background-color: white;
  border-radius: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 30px;
  gap: 10px;
}

.service-card-container-movil {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 30px 35px;
  max-width: 90%;
  gap: 20px;
}

.service-image-container {
  display: flex;
  width: clamp(200px, 350px, 25vw);

  img {
    object-fit: cover;
    max-width: 90%;
  }
}

.service-image-container-tablet {
  display: flex;
  min-width: 230px;

  img {
    object-fit: cover;
    max-width: 100%;
  }
}

.service-image-container-movile {
  display: flex;
  min-width: 320px;

  img {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    max-width: 100%;
  }
}

.service-content-container {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 20px;

  h4 {
    font-family: Inter;
    font-weight: 700;
    font-size: 24px;
    text-align: center;
  }

  p {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    text-align: justify;
  }
}

.service-content-container-tablet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 15px;

  h4 {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  p {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    text-align: justify;
  }
}

.service-content-container-movil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 28px;

  h4 {
    font-family: Inter;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }

  p {
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.4px;
    text-align: justify;
  }
}

.service-description-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  align-items: center;
}
