.service-card-container {
  max-width: 62%;
  min-height: 280px;
  background-color: white;
  border-radius: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 35px;
  gap: 20px;
}

.service-card-container-tablet {
  max-width: 90%;
  min-height: 280px;
  background-color: white;
  border-radius: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 35px;
  gap: 20px;
}

.service-card-container-movil {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 30px 35px;
  max-width: 90%;
  gap: 20px;
}

.service-image-container {
  display: flex;
  min-width: 350px;

  img {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    max-width: 100%;
  }
}

.service-image-container-tablet {
  display: flex;
  min-width: 320px;

  img {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    max-width: 100%;
  }
}

.service-image-container-movile {
  display: flex;
  min-width: 320px;

  img {
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    max-width: 100%;
  }
}

.service-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 20px;
}

.service-content-container > h4 {
  font-family: Inter;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
}

.service-content-container > div> p {
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  text-align: justify;
}

.service-content-container-movil > h4 {
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
}

.service-content-container-movil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 28px;
}
.service-content-container-movil > div >  p {
  font-family: Inter;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0.4px;
  text-align: justify;
}