.description-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 0 10px;
  gap: min(40px, 3vw);
  flex-direction: row;
  
  & .imagen-container {
    display: flex;
    height: auto;

    & img {
      display: flex;
      width: 100%;
      object-fit: cover;
    }
  }

  & .description-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: clamp(400px, 460px, 100%);
    
    & .description-content {
      height: 100%;

      & p {
        display: flex;
        flex-direction: column;
        font-size: clamp(14px, 1.5vw, 16px);
        font-weight: 400;
        text-align: left;
        text-wrap-style: pretty;
      }
    }

    & .recognitions-container {
      display: flex;
      align-items: center;
      justify-content: center;
      height: max-content;
      width: max-content;
      gap: 10px;

      & .recognitions {
        display: flex;
        gap: 20px;
        align-items: center;
        max-width: max-content;

        & img {
          height: auto;
          width: auto;
        }
      }
    }
  }
}

.description-card-mobile {
  flex-direction: column;
}


.description-container-mobile {
  width: 100%!important;
}
  