.card {
  display: flex;
  overflow: hidden;
  padding: 35px;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  scroll-snap-align: start;
  height: clamp(85%, 600px, 20vh);
  border-radius: 20px;
  background-color: #FAFAFA;
  box-shadow: 0 4px 4px #00000040;
  margin: 10px;

  p {
    display: flex;
    flex-grow: 1;
    text-align: justify;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: normal;
  }
}

.card-movil {
  display: flex;
  gap: 20px;
  overflow: hidden;
  padding: 25px;
  align-items: center;
  flex-direction: column;
  scroll-snap-align: start;
  height: 85%;
  max-height: 90%;
  min-height: 90%;
  border-radius: 20px;
  background-color: #FAFAFA;
  box-shadow: 0 4px 4px #00000040;
  margin: 10px 0px;
  
  p {
    display: flex;
    flex-grow: 1;
    text-align: justify;
    text-wrap-style: pretty;
    font-family: Inter;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: normal;
  }

  svg {
    width: 50px;
    height: 50px;
  }
}


.testimonial-header-container {
  width: 100%;
  gap: 10px;
  display: flex;
  justify-content: space-between;
}

.testimonial-header-container-movil {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.testimonial-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.testimonial-header-movil {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h4 {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 5px;
  }

  h5 {
    text-transform: capitalize;
    font-family: Inter;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #1E1E1E99;
  }
}

.testimonial-header > h4 {
  font-family: Inter;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 5px;
}

.testimonial-header > h5 {
  text-transform: capitalize;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #1E1E1E99;  
}

.card > svg {
  width: 62px;
  height: auto;
}